{% extends 'base.html' %}

{% block main %}
{% set name = 'Distributions' -%}
{% set records = distributions|length -%}
{% include 'filter_bar.html' %}
<div class="table-container">
    <table class="table bordered">
        <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
    </tr>
        </thead>
        <tbody>
    {% for p in distributions %}
    <tr>
        <td>{{p["name"]}}</td>
        <td>{{p["type"]}}</td>
    </tr>
    {% endfor %}
        </tbody>
</table>
</div>
{% endblock %}